/* style.css */
.searchJobs {
  border-width: 1px;
  display: inline-block;
  line-height: 2px;
  border-bottom: 1px solid blue; /* Specify the style and color */
}

.searchJobs p {
  font-size: 20px;
  padding: 0px 15px;
}

.chipLabel {
  text-decoration: none; /* Remove underline */
  font-weight: 100;
}

.jobContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  margin: 30px 50px;
  justify-content: center;
}
.filtersContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  margin: 0px 50px;
  justify-content: center;
}

.filterContainer {
  margin: 10px; /* Adjust margin between filters */
}
